{{ define "main" }}
    <div class="showcase-area">
        <div class="left">
            <div class="big-title">
                <h1>Mapping the music world</h1>
                <!-- <h1>in one place.</h1> -->
            </div>
            <p class="text">
                See who's listening on the map. Now support Apple Music & Spotify!
            </p>
            <div class="cta">
                <a href="https://apps.apple.com/app/music-mate-for-apple-music/id1605379758">
                  <img src="{{ `black.svg` | absURL }}" />
                </a>
            </div>
        </div>
        <div class="right">
            <img src="{{ `mm-hand.png` | absURL }}" alt="Music Mate app" class="musicmate" />
        </div>
    </div>
    <div class="detail-grid">
        <div class="detail-grid-item">
            <p class="detail-title">See who's listening the same song with you</p>
            <p class="caption">
                Find the music lovers around you.
            </p>
        </div>
        <div class="detail-grid-item">
            <p class="detail-title">All platform</p>
            <p class="caption">
                iOS & iPadOS version is supported now!
            </p>
        </div>
        <div class="detail-grid-item">
            <p class="detail-title">Widget that you love</p>
            <p class="caption">
                You can even see others directly on your iPhone's home screen!
            </p>
        </div>
    </div>
    <div class="detail-grid">
        <div class="detail-grid-item">
            <p class="detail-title">Buy License via PayPal</p>
            <!-- PayPal Logo --><table border="0" cellpadding="10" cellspacing="0" align="center"><tr><td align="center"></td></tr><tr><td align="center"><a href="https://paypal.me/yuecai" title="Now accepting PayPal" onclick="javascript:window.open('https://paypal.me/yuecai','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img src="https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/C2/logos-buttons/optimize/logo-center-other-options-blue-now-accepting-pp-v8.png" border="0" alt="Now accepting PayPal"></a></td></tr></table><!-- PayPal Logo -->
            <p class="caption">
                $15.99 for a lifetime license. I'll send code to your email address.
            </p>
        </div>
        
    </div>
{{ end }}